[2018-10-11 14:04] innovativeangela opened #1 "Save toolkit"
Logged in users would have the ability to save individual toolkits to reference later. These would appear in their user profile and would provide data on which toolkits are most popular. An indicator would appear on each toolkit detail page that shows how many users have saved the toolkit. This data would be used to sort toolkits on the filter page in order of relevance.

[2018-10-11 14:22] innovativeangela opened #2 ""I have used this""
This would appear in the Review section of individual toolkit detail pages. Similar to the Save feature, the "I have used this" button would be available to both logged in and not logged in users. Not logged in users would be able to click the button and will be prompted with an option to "Log in to see others who have also used this" or "See others who have also used this" if they are already log

[2018-10-11 14:45] innovativeangela opened #3 "Sort"
Sort functionality on the toolkit filter page https://oecd-opsi.org/search-toolkits/
Sort by relevance (depends on data from: most reviewed, "Save" and "I have used this" features), year published, date added.

[2018-10-11 14:52] innovativeangela opened #4 "Autocomplete on search box"
Autocomplete on search box on both the [landing page](https://oecd-opsi.org/toolkit-navigator/) and [filter page](https://oecd-opsi.org/search-toolkits/)

[2018-10-12 09:14] innovativeangela opened #5 "Ability to Share search results or individual toolkit"
A user wishing to share results (from search and/or filter) would be presented with an option (button) on the filter page as well as on individual toolkit detail pages to "Share these results" or "Share this toolkit." This would generate a nicely formatted email with the results or toolkit (pulling content such as the image, toolkit name, publisher).

[2018-10-12 09:16] innovativeangela opened #6 "Improved search functionality"
On both [landing page](https://oecd-opsi.org/toolkit-navigator/) and [filter page](https://oecd-opsi.org/search-toolkits/). This would be improved based on usage data as well as autocomplete feature on search box.

[2018-10-12 09:24] innovativeangela opened #7 "Collections on landing page"
On Toolkit Navigator landing page, toolkit collections would be featured, such as “Starter kit” or “Game-based toolkits,” which can be changed quickly by administrators to feature certain content. These would link to a filtered view of toolkits based on existing fields OR a manual curation made by administrators.
Mockup
![image](https://user-images.githubusercontent.com/22620143/46860711-4c059400-

[2018-10-12 09:29] innovativeangela opened #8 "Double spacing on toolkit description text"
The spacing on toolkit description text on the filter page (example: https://oecd-opsi.org/search-toolkits/?_sft_discipline-or-practice=strategic-design) is now double spaced. It should be single spaced.

[2018-10-12 09:52] innovativeangela opened #9 "Contributors"
Each toolkit has authors or contributors, from one to dozens. These people should be visible on each toolkit detail page. Above the Reviews section, a Contributors section will appear if there are any contributors associated with the toolkit. If there are no contributors, a "I am a contributor to this toolkit" button will appear, which will prompt them to create a user account and request approval

[2018-10-12 11:00] innovativeangela opened #10 "Tags"
Add a section in "About this Resource" on toolkit detail pages for tags. This will pull from the "Innovation Tags" set used by Case Studies. Logged in users will also be able to suggest tags but these will need to be reviewed by administrators before they appear.

[2018-10-12 11:51] innovativeangela opened #11 "Add Advisor logos on landing page"

[2018-10-12 12:17] innovativeangela opened #12 "Toolkit submission form"
Currently, new toolkits are added by administrators via Airtable. This is also where tags are added and managed. Ultimately, these are used to filter toolkits in the Toolkit Navigator. A csv file is exported from Airtable and the data is migrated to WordPress using a plugin (@benguhin has documentation on this).
Anyone may submit a toolkit using the forms feature in Airtable: https://airtable.com/

[2018-10-12 13:02] innovativeangela opened #13 "Related toolkits"
On each toolkit detail page, other toolkits are dynamically displayed if they match the field "Discipline or Practice." These are currently sorted in order of most recently added.

These should be sorted/displayed instead based on relevance, including:
Same Discipline or Practice
Number of other users who have clicked "I have used this toolkit"
Number of times it has been saved
Number of times it

[2018-10-12 13:18] innovativeangela opened #14 "Living library"
Currently both static (PDF) and editable versions of toolkits are stored in the repo [living-source-files](https://github.com/oecd-opsi/living-source-files). These represent versions of the toolkits at a point in time, but some are being updated by publishers. Also, some are being remixed and published by others as variants. OPSI would like to serve as an archival repository of toolkits, both enab

[2018-10-12 13:23] innovativeangela opened #15 "404 when linking back to landing page"
When attempting to link back to Toolkit Navigator landing page by clicking on "Toolkits" on this page https://oecd-opsi.org/toolkits/the-cynefin-mini-book/#comment-744
a 404 is displayed

[2018-10-12 14:05] innovativeangela opened #16 "Display Medium posts"
On each of the Discipline or Practice Guide pages, install the Medium post plugin.
https://wordpress.org/plugins/display-medium-posts/ (or similar/custom)

Title section:
Relevant writing from others

The plugin should display Medium posts based on tags on Medium.
[Discipline or Practice = Medium tag]
Design = Design OR Design Thinking
Social innovation = Social Innovation
Open government = Open G

[2018-10-13 10:28] #15 closed, assigned to nobody

[2018-10-19 14:44] marcochiesi commented on #13
An idea for this implementation could be to have a "relevance" score for each toolkit, which is obtained with a weighted formula that depends on (some of) the parameters you mentioned:
- Number of other users who have clicked "I have used this toolkit"
- Number of times it has been saved
- Number of times it has been viewed

In a first release, I would not use the following criteria because they a

[2018-10-19 15:03] marcochiesi commented on #14
I need a clarification on this: are Toolkit variants just a bunch of additional files/links or are they additional full Toolkits in the database? I supposed the 2nd one.
In that case, I think the implementation could be made with the following set of fields (using Advanced Custom Fields):
- One or more link (using a repeater field) to static files
- One or more link (using a repeater field) to edi

[2018-10-19 15:10] marcochiesi commented on #10
Unfortunately, WordPress doesn't have a status for tags, so it won't be possible to store a tag but not publishing it (there's no a "draft" status as the one we have for posts). For this reason, the approval workflow is more complex.

A simple implementation could be to have a simple form for the users to suggest new tags. These suggestions are delivered via email to administrators that will manua

[2018-10-19 15:13] marcochiesi commented on #3
Please see #13 as it's strictly related to this one.
The idea is to use a custom field to take into consideration the relevance.
By the way at the moment the "Search & Filter" plugin only allows for two sort criteria, so I would stick with i.e. relevance + year, or relevance + date added.

[2018-10-19 15:22] marcochiesi commented on #4
The plugin used at the moment for the search doesn't currently support autocomplete, but I've read in their [forum](https://support.searchandfilter.com/forums/topic/autocomplete-functionality/) that it's planned for a future version.
I believe it's not possible to apply the autocomplete functionality to the current plugin without changing the source code of the plugin itself, which is not a good i

[2018-10-19 15:24] marcochiesi commented on #6
This issue seems a combination of the issues #4 (autocomplete) and #3 (sort).
Is it necessary to have a distinct issue for this?

[2018-10-19 15:28] marcochiesi commented on #5
Are you interested only in sharing via email or also on other channels (social networks, etc)?
Probably we could use an existing plugin for this.

[2018-10-21 15:31] innovativeangela commented on #13
I agree with your alternate relevance scoring method (with the three parameters you mentioned) for the first release. I am still interested in including the other parameters for future releases if WP allows it.

[2018-10-21 15:47] innovativeangela commented on #10
I think the simple implementation is best at this point. It will allow us to see if is a feature that users actually use before investing more into it. Could the form have an autocomplete function that draws from the list of existing tags as well? If it is an existing tag, users would be able to add it without admin approval. This would reduce duplicates and allow users to help with tag management

[2018-10-21 15:50] #6 closed, assigned to nobody

[2018-10-21 15:57] innovativeangela commented on #5
Email as well as social networks. As long as the formatting is modifiable, a plugin is probably fine. Oftentimes, the default plugin social media content and format is not very engaging, but let's see what options exist.

[2018-10-21 16:03] innovativeangela commented on #4
Let's not change the source code of the current plugin and risk preventing updates. It sounds like the future autocomplete support is not coming any time soon (they were still "considering" it in September).
Is there another plugin that could be substituted for the current one to rebuild the search functionality? Would that also amount to a major effort compared with building a custom plugin?

[2018-10-21 16:09] innovativeangela commented on #13
Since these would be based on simple counters in your alternate proposal, I suggest changing the label from "Relevance" to "Popularity"

[2018-10-21 16:15] innovativeangela commented on #3
Ok. Let's go with Relevance (except substitute with the label "Popularity" since your proposed alternative is based on simple counters).
I am still not sure about the second sort criteria.
I assume that Date Added will reference the date of entry to WP. In this case, most of the toolkits will have the same date since they were uploaded in bulk. This sort option would only become useful as new tool

[2018-10-21 16:20] innovativeangela commented on #14
It is the second option you mentioned (additional full toolkits). I think your suggested implementation (including the Toolkit connections and Toolkit submission form suggestions) could work well.
On #12 yes I do think there should be a field like "This Toolkit is a variation of..." for users who access the Toolkit submission form directly instead of accessing via the "submit a variant" button. Co

[2018-10-26 09:54] innovativeangela opened #17 "Styling for "open source" toolkits"
Some toolkits are licensed to allow adaptation by others (Creative Commons licenses or OS licenses). This information is contained in the "Adaptability" field associated with each toolkit (None, Basic, Champion, Hero). I would like styling on the filter page and each toolkit detail page that designates the Hero toolkits. Perhaps the existing Badges feature used in the Case Study Platform could be

[2018-10-26 11:58] marcochiesi commented on #13
Added this feature request to the milestone (at the moment it includes only the 3 aforementioned parameters, the other ones may be added in future releases).

[2018-10-26 12:28] marcochiesi commented on #10
For the sake of completeness, I'd like to recap how this feature is going to be implemented:

- In Toolkit detail pages a new section will be added in "About this resource". This section will list all the relevant tags related to the current Toolkit
- In the same section, there will be a link "Suggest tags" that will bring the users to a form. This will only be accessible to logged in users.
- The

[2018-10-26 12:37] marcochiesi commented on #5
There are many plugins for social/email sharing. I agree that often they don't allow a total control on the formatting, but that also depends on each specific social networks and on how the pages are implemented (i.e. presence of OpenGraph tags, etc).
As a first implementation, I'd suggest using an existing plugin that also has support for email sharing, after a more in-depth research on the avail

[2018-10-26 13:00] marcochiesi commented on #4
A possible alternative could be the [FacetWP](https://facetwp.com) plugin, which by the way is already installed on the website as it is used for the [case study platform filtering](https://oecd-opsi.org/innovations/). It seems it has an [autocomplete feature](https://facetwp.com/documentation/autocomplete/). Both plugins have pros and cons, and probably previous developers used one or the other f

[2018-10-26 13:11] marcochiesi commented on #3
I don't think the second criteria will be so important as it will be used only when the first one (Popularity) has the same value. Since the Popularity score is built upon 3 different values I believe it's unlikely that there will be Toolkits having the exact same score, if we use a proper calculation of the score.
Anyway, since not all the Toolkits have a year, probably it's better to leverage th

[2018-10-26 13:31] marcochiesi commented on #14
For the sake of completeness here's a recap of how the features included in this issue will be implemented:

- In the backend add a repeater field that will allow inserting  multiple links to static files
- In the backend add a repeater field that will allow inserting multiple links to editable files
- In the backend add a "relationship" field that will allow admins to connect each Toolkit with th

[2018-11-05 13:02] innovativeangela opened #18 "Feedback Open Gov Toolkit Navigator: add content to Open Government guide page"
Add the following text (matching styling on the site - "pillars of open government" is a header) to the Open Government guide page between "Open Government Recommendation includes 10 provisions grouped into enablers, implementation support, and  moving towards open state." and the 3 buttons you created.

********

Pillars  of open government
•	Open government enablers
These elements are important

[2018-11-05 13:05] innovativeangela opened #19 "Feedback Open Gov Toolkit Navigator: Add content to Design an open government strategy guide page"
Replace lorem ipsum text on [Design an open government strategy or initiative](https://staging.oecd-opsi.org/guide/open-government/design-an-open-government-strategy-orinitiative/) guide page with the following

*********

Open Government initiatives should not be planned or put into practice at random. The implementation of an open government agenda requires strategic thinking and practical coord

[2018-11-05 13:07] innovativeangela opened #20 "Feedback Open Gov Toolkit Navigator: Add content to Bring new perspectives guide page"
Replace lorem ipsum text on [Bring new perspectives...](https://staging.oecd-opsi.org/guide/open-government/bring-new-perspectives-and-stakeholders-into-policy-process/) guide page with the following text

*******

The process of designing, implementing and evaluating open government strategies and initiatives is integrated with intense communication and engaging a diverse scale of  stakeholders.

[2018-11-05 13:10] innovativeangela opened #21 "Feedback Open Gov Toolkit Navigator: Add content to Communicate guide page"
Replace lorem ipsum text on [Communicate...](https://staging.oecd-opsi.org/guide/open-government/communicate-open-government-work/) guide page with the following text

**********

Open government promotes the values of transparency, integrity, accountability and participation. As such, it is important that governments communicate clearly what they are doing to deliver open government programmes, w

[2018-11-05 13:11] innovativeangela opened #22 "Feedback Open Gov Toolkit Navigator: Add content to Monitor guide page"
Replace lorem ipsum text on [Monitor...](https://staging.oecd-opsi.org/guide/open-government/monitor-and-evaluate-open-government-work/) guide page with the following text

********

Monitoring and evaluation (M&E) is a core element of the Open Government Strategy and ensures that the strategy and initiatives are achieving the intended goals and objectives. Evaluation helps to identify challenges

[2018-11-05 14:26] fabio-bs commented on #18
Hello Angela, I added the text as requested

[2018-11-05 14:27] fabio-bs commented on #19
Hello Angela, I replaced the text as requested

[2018-11-05 14:28] fabio-bs commented on #20
I replaced the text as requested

[2018-11-05 14:29] fabio-bs commented on #21
I replaced the text as requested

[2018-11-05 14:30] fabio-bs commented on #22
I replaced the text as requested

[2018-11-05 15:27] innovativeangela opened #23 "Feedback Open Gov Toolkit Navigator: Banner on 7 open gov sub-pages"
Please add banner logos to the top of the 7 open government sub-pages (but not the main open government guide page) as shown in the attached mockup.
[OpenGov Toolkit Navigator Logo placement mockup.pptx](https://github.com/oecd-opsi/meta-toolkit/files/2549287/OpenGov.Toolkit.Navigator.Logo.placement.mockup.pptx)
![ogp_logo_-_print_layers](https://user-images.githubusercontent.com/22620143/48007207

[2018-11-05 15:32] innovativeangela commented on #18
@fabio-bs I received updated instructions from the open gov team. Instead of including this content on the open government guide page, can you please delete/move these to the top of each of the related sub-pages pertaining to the 3 pillars?

[2018-11-05 16:09] fabio-bs commented on #23
Should the final result be like the one shown in the attached image I created? or do the logos have to be placed around the page title (for example "Design an open government strategy or initiative")?
![opengov-header](https://user-images.githubusercontent.com/9032846/48009995-fe80fc00-e11c-11e8-85dd-d1bc402f09f4.jpg)

[2018-11-05 16:52] innovativeangela commented on #23
Yes, this is great.

[2018-11-05 17:05] fabio-bs commented on #18
@innovativeangela I moved the texts in the three related subpages. Do I also have to remove the "Pillars of open government" header?

[2018-11-05 17:39] fabio-bs commented on #23
@innovativeangela I have another question about this: in the mobile version of the site, the banner keeps the same format as shown in the attached file?
![opengov-header-mobile](https://user-images.githubusercontent.com/9032846/48015725-18750b80-e12a-11e8-87e6-f28523c37a26.jpg)

[2018-11-05 17:48] innovativeangela opened #24 "Feedback Open Gov Toolkit Navigator: "Go to case studies""
On each of the 7 open gov sub-pages, the "Go to case studies" link should link to the [Open Government Case Studies view](https://staging.oecd-opsi.org/case_type/open-government/) instead of the current OPSI case studies view

[2018-11-05 17:56] #21 closed, assigned to nobody

[2018-11-05 17:57] #19 closed, assigned to nobody

[2018-11-05 17:57] #20 closed, assigned to nobody

[2018-11-05 17:57] #22 closed, assigned to nobody

[2018-11-05 18:01] innovativeangela commented on #18
@fabio-bs Thanks. The Pillars of open government header should remain but be moved above "Open Government Recommendation includes 10 provisions grouped into enablers, implementation support, and  moving towards open state." Once the site is live, I can make all these annoying little text changes :)

[2018-11-05 18:10] innovativeangela commented on #23
@fabio-bs Yes, it is not ideal but it is ok for now

[2018-11-06 10:07] fabio-bs commented on #18
No problem :) I moved the text as you indicated.

[2018-11-06 10:14] fabio-bs commented on #23
@innovativeangela I inserted the banner (as an image to fit the page width) in the 7 open government sub-pages

[2018-11-06 10:34] fabio-bs commented on #24
@innovativeangela I updated the links of the 7 open gov sub-pages

[2018-11-06 15:07] innovativeangela opened #25 "Feedback on Open Gov Toolkit Navigator: Placement of "View all toolkits for x""
Currently, on each of the guide pages ([example](https://oecd-opsi.org/guide/open-government/)) the placement of the link "View all toolkits for "[Discipline or Practice]" appears below the list of toolkits on the right side of each the page.

Can this link be moved between "Open Government toolkits" and the first toolkit listing?
 I understand this will change the format of all the guide pages, b

[2018-11-07 09:47] fabio-bs commented on #7
@innovativeangela I added the "Featured" taxonomy to the toolkits with the three tags shown in the mockup. In the [Navigator Toolkit](https://staging.oecd-opsi.org/toolkit-navigator/) I then displayed the three links that lead to the filtered view. Can you please provide me with the descriptions to show under these links?

[2018-11-07 10:08] fabio-bs commented on #12
I created the page to [submit a new toolkit](https://staging.oecd-opsi.org/submit-new-toolkit/) based on the one on Airtable. To create the form I used a subset of the toolkit fields used in WordPress so, to get this result, I updated the labels and descriptions of some of these fields (for example the "User Toolkit" field label was renamed to "To whom would you recommend this toolkit?"). I then a

[2018-11-08 10:01] fabio-bs commented on #13
I implemented the visit counting system and the two buttons "I have used this toolkit" and "Save toolkit" positioning them under the toolkit title. After expressing their choice, users can also remove it by clicking on the respective links.
The system calculates the popularity of each toolkit once a day using the following formula: 30*(#I have used this toolkit) + 20*(#times it has been saved) + #

[2018-11-08 22:40] #24 closed, assigned to nobody

[2018-11-08 22:43] innovativeangela commented on #23
@fabio-bs the open gov team would like the text "OECD" removed from the "OECD Open Government" banner on all 7 pages

[2018-11-08 22:47] innovativeangela commented on #18
The Open Gov team would like the "How do I..." options to appear as follows:

•	Design an open government strategy or initiative?
•	Bring new perspectives and stakeholders into the policy process?
•	Communicate open government initiatives?
•	Develop monitoring, evaluation and learning mechanisms for open government strategies and initiatives?

[2018-11-08 22:57] innovativeangela opened #26 "Feedback on Open Gov Toolkit Navigator: Toolkit tagging"
Open gov team would like [this toolkit](https://oecd-opsi.org/toolkits/ogps-participation-and-co-creation-toolkit-from-usual-suspects-to-business-as-usual/) to appear in the list of options when users click "Design an open government strategy or initiative?" on the [open government guide page](https://oecd-opsi.org/guide/open-government/).

[2018-11-08 23:15] innovativeangela commented on #18
Also, the option at the top left of the page currently reads:
The OPSI community has experts in this area
[Connect with them](https://oecd-opsi.org/opsi-network/)

Please change on this page (and all other guide pages) to:
Contact other experts in this area
[Log in to connect](https://oecd-opsi.org/members/?members_search=Open+Government)

Please also make these changes to all of the other guide p

[2018-11-09 15:53] fabio-bs commented on #23
I made the change as requested

[2018-11-09 17:39] fabio-bs commented on #26
I added the "Design an open government strategy or initiative?" tag to the toolkit you specified on the live site.

[2018-11-09 18:42] fabio-bs commented on #18
I made the changes to the "How do I" options as requested by the Open Gov team

[2018-11-12 11:03] fabio-bs commented on #2
currently the button "I have used this" that we have created has a dual function: clicking it for the first time sets the toolkit as used, while a second click removes the information (it can be useful in case a user makes a click by mistake) . Our proposal is therefore to insert an independent button "Show others who have used this toolkit" that shows the list of users (see attached screenshots).

[2018-11-12 11:39] fabio-bs commented on #25
I moved the link as required, the result is visible on the [staging site](https://staging.oecd-opsi.org/guide/open-government/)

[2018-11-12 12:09] fabio-bs commented on #18
On the staging site, I have also modified the link to search for experts and differentiating it based on whether a user is logged in or not

[2018-11-12 14:00] innovativeangela commented on #25
@fabio-bs can you please push these changes to the live site?

[2018-11-12 14:11] fabio-bs commented on #25
Yes, I pushed the change even on the live site.

[2018-11-12 16:10] fabio-bs commented on #8
I fixed the line spacing

[2018-11-12 17:40] fabio-bs commented on #11
@innovativeangela I see that this task is assigned to you if you prefer we can take care of it. In this case we need the image and the page in which to insert it.

[2018-11-12 17:50] fabio-bs commented on #1
I added the "Toolkits" tab on a user's profile page that lists saved toolkits and an indicator on each toolkit detail page that shows how many users have saved the toolkit.
As specified in #13 this parameter is also used to calculate the relevance of the toolkit.

[2018-11-12 18:04] fabio-bs commented on #3
I made the change on the staging site, now the search results are sorted by descending toolkit popularity.

[2018-11-13 19:00] fabio-bs commented on #17
I added the badges to the [search results](https://staging.oecd-opsi.org/search-toolkits/?_sft_adaptability=hero) and to the [detail pages](https://staging.oecd-opsi.org/toolkits/demtools/) using (temporarily) images of the badges used for case studies. These images can be set directly by the Wordpress administration and in case a category does not have an image then the badge will not be shown.

[2018-11-13 19:13] fabio-bs commented on #2
I added the button as described in the previous message which, if clicked, displays a popup window listing the users who used the toolkit as shown in the following image:
![saved-popup](https://user-images.githubusercontent.com/9032846/48436894-340e9080-e780-11e8-9935-194cb0110dc3.JPG)

I have also created some screenshots that show the behavior of the page in various situations.
Saved toolkit - L

[2018-11-14 08:27] #25 closed, assigned to nobody

[2018-11-14 08:27] #23 closed, assigned to nobody

[2018-11-14 08:28] #18 closed, assigned to nobody

[2018-11-14 08:51] innovativeangela commented on #2
@fabio-bs these scenarios make a lot of sense. I really like the popup list of other users who have used the toolkits. For the scenario "not saved toolkit - not logged in user" can you remove the text "this toolkit has not yet been used" unless the toolkit has been used by at least one person, in which case "log in to see others who have used this" will appear? I do not want to give the impression

[2018-11-14 08:59] innovativeangela commented on #12
This looks great @fabio-bs Does the submission of a toolkit automatically generate a notification for admins? Is there an easy way to add human verification to this form? This will reduce spam.
Just to clarify, the toolkit will not be visible unless an admin approves it, correct?

[2018-11-14 12:22] #26 closed, assigned to nobody

[2018-11-14 13:26] fabio-bs commented on #2
@innovativeangela I made the change, can you please check if I have correctly interpreted your request?

[2018-11-14 14:37] innovativeangela commented on #2
@fabio-bs Yes, this looks great

[2018-11-14 14:48] innovativeangela commented on #17
@fabio-bs can you change badge appearance so that badges only appear for "basic" "champion" and "hero" adaptability options? No badges should appear for "unknown" and "none" adaptability options.

[2018-11-14 14:49] innovativeangela commented on #17
@fabio-bs Also, can the badge appear in the top right corner of each toolkit box on filter pages next to the toolkit title?

[2018-11-14 14:51] innovativeangela commented on #17
@fabio-bs I viewed a few toolkits with badges. I noticed that the badge appeared in the filter view but not in the detail view in [this case](https://staging.oecd-opsi.org/toolkits/a-field-guide-to-ethnographic-experiential-futures/)

[2018-11-14 17:23] innovativeangela commented on #17
![badge-hero](https://user-images.githubusercontent.com/22620143/48500110-5533b780-e83a-11e8-89ce-4f9c02cda292.png)
![badge-champion](https://user-images.githubusercontent.com/22620143/48500112-56fd7b00-e83a-11e8-9507-d0a128e6c2e3.png)
![badge-basic](https://user-images.githubusercontent.com/22620143/48500116-595fd500-e83a-11e8-9b95-64feca0424dd.png)
Please use these for basic, champion, and hero

[2018-11-14 17:35] innovativeangela commented on #7
@fabio-bs Will this be easy to change on the admin backend? What I am interested in is a filter that works either as a combination of taxonomy items (for instance: adaptability:hero AND discipline:design) or a custom curated selection. As it stands, the admin will have to tag each of the hundreds of toolkits with the featured taxonomy tag, which could be cumbersome depending on how this is handled

[2018-11-14 17:54] fabio-bs commented on #17
@innovativeangela now everything should be ok, can you please check?

[2018-11-14 18:02] fabio-bs commented on #12
Currently submitting a toolkit does not generate notifications, but I can make sure that an email notification is sent. Can you please provide me with the e-mail addresses to be notified? Alternatively, I can retrieve email addresses by taking them from registered users with a specific role (for example Editors).
The form has a [honeypot field](https://solutionfactor.net/blog/2014/02/01/honeypot-t

[2018-11-15 10:02] innovativeangela commented on #12
@fabio-bs Could you auto-generate emails to anyone with Editor role? Let's stick with honeypot field for the spam prevention.

[2018-11-15 10:16] fabio-bs commented on #7
@innovativeangela based on what you said, I think the "Featured" taxonomy is not ideal. Our proposal is therefore to create a panel (always named "Featured") in which, for each button, you can specify title, description and search URL. The search URL can be obtained by copying it from the pre-filtered search page: for example https://staging.oecd-opsi.org/search-toolkits/?_sft_discipline-or-practi

[2018-11-15 12:05] fabio-bs commented on #12
I implemented the notification using editor email addresses.
Attached is an example of the message.
![toolkit-submission-notification](https://user-images.githubusercontent.com/9032846/48551876-0f78fc80-e8d7-11e8-8f22-d52d07c25703.JPG)

[2018-11-15 15:04] fabio-bs commented on #7
I implemented what described in the previous message, the buttons can be easily managed from the following [page](https://staging.oecd-opsi.org/wp-admin/edit.php?post_type=toolkit&page=acf-options-featured) where I added three example buttons that link to the filtered view using existing taxonomy items.

[2018-11-16 09:25] innovativeangela opened #27 "Migration issue: Page not displaying correctly"
Some of the pages aren’t displaying properly anymore, with a huge break before the content displays – e.g. https://oecd-opsi.org/our-work/projects/

[2018-11-16 09:37] innovativeangela opened #28 "Contact experts in this area"
@fabio-bs On the guide pages, for instance [this one](https://oecd-opsi.org/guide/systems-change/), not logged in users see "Log in to connect to experts in this area" and upon login, they are taken to their own profile instead of the list of users related to systems change. The user has to go back and click on "Find experts in this area" in order to find the list of user profiles. Can this be cha

[2018-11-16 09:44] innovativeangela opened #29 "Migration: "Go to case studies" on detail pages"
@fabio-bs
[Example page](https://oecd-opsi.org/toolkits/assessing-innovation-potential-for-social-impact/): in the box "See cases of others doing this in government" the link "Go to case studies" directs to [this page](https://oecd-opsi.org/our-work/case-studies/), which is blank. On all toolkit detail pages, can this be fixed? It should link to the [OPSI case study platform](https://oecd-opsi.org

[2018-11-16 09:50] innovativeangela opened #30 "Migration: "Find experts..." on detail pages"
@fabio-bs
On detail pages (example), in the "Find experts and advisers who can assist me with this" box, the link "Go to advice" directs to [this page](https://oecd-opsi.org/about-observatory-of-public-sector-innovation/about-our-in-country-contacts/), which is blank. This page used to have content. Can it be recovered?
In any case, this should work similarly to how it works on guide pages: logged

[2018-11-16 09:56] innovativeangela commented on #30
@fabio-bs Actually, the content is there, just way down at the bottom of the page and aligned to the left. This seems to be an issue for several Pages.

[2018-11-16 10:19] innovativeangela commented on #17
@fabio-bs This looks really good. Can the tooltip text be changed to be more descriptive for users? I will add text to explain Basic/Champion/Hero on the landing page as well.
Basic: Tooltip text: "Allows reuse"
Champion: Tooltip text: "Can be remixed"
Hero: Tooltip text: "Editable source files available"

[2018-11-16 11:41] #27 closed, assigned to nobody

[2018-11-16 14:45] fabio-bs commented on #17
I added the descriptions you provided below the Adaptability name

[2018-11-16 14:47] fabio-bs commented on #30
Now this page seems to appear correctly, can I consider this issue closed?

[2018-11-16 17:16] fabio-bs commented on #28
It should now work properly

[2018-11-16 17:39] fabio-bs commented on #30
As a result of our Skype conversation, I modified the link to point to the member search page similar to how it works on guide pages. The research is based on the first relevant Discipline.

[2018-11-16 17:50] fabio-bs commented on #29
I changed the link as requested

[2018-11-17 11:37] #30 closed, assigned to nobody

[2018-11-17 11:39] #29 closed, assigned to nobody

[2018-11-17 11:40] #28 closed, assigned to nobody

[2018-11-17 11:43] innovativeangela commented on #17
@fabio-bs I noticed that tooltips only appear on the toolkit detail pages. Can they also be added to the badges on the filter pages? Also, could you change the Adaptability name in the toolkit text to "HERO:" "CHAMPION:" and "BASIC:" ? (all caps and with a : at the end)

[2018-11-18 12:38] innovativeangela opened #31 "wp-admin bar appears for new users"
When a new user logged in, he was able to see the wp-admin toolbar at the top of his page. He was able to view the backend and look through toolkits, cases, etc. New users should not be able to access the backend.
@marcochiesi or @fabio-bs can you please look into this?

[2018-11-18 12:39] #13 closed, assigned to nobody

[2018-11-19 09:04] fabio-bs commented on #17
I modified the titles as you requested (all caps and with a : at the end).
On the live site to me the tooltips work properly also on the search page, can you check again? is it possible that you were looking at the staging site where the descriptions were not yet present?

[2018-11-19 10:19] fabio-bs commented on #31
For "new user" do you mean subscribers with the "Pending" role? Now I have hidden the toolbar for users with this role

[2018-11-19 11:04] innovativeangela commented on #31
Yes, I meant pending users. Thank you.

On Mon, Nov 19, 2018, 11:19 Fabio Gualtieri <notifications@github.com wrote:

[2018-11-20 11:31] jlberryhill commented on #31
Thanks, @fabio-bs. Could you please make it so the toolbar only appears for full Administrators? Thanks!

[2018-11-21 10:08] #17 closed, assigned to nobody

[2018-11-21 10:13] innovativeangela commented on #12
@fabio-bs Could you please let me know where I can edit form fields and help text? I would like to make a few small edits to the toolkit intake form.

[2018-11-21 10:14] #7 closed, assigned to nobody

[2018-11-21 10:15] #8 closed, assigned to benguhin

[2018-11-21 10:26] fabio-bs commented on #31
@jlberryhill for full administrators, do you mean only users with the "Administrator" role or other roles (for example, editors like @innovativeangela)? Below is a list with all the roles on the site, can you tell me if among these there are other roles that must be able to see the toolbar?

 Academia and Research
 Administrator
 Author
 Contributor
 Editor (e.g. Angela Hanson)
 NGO and Civil Soci

[2018-11-21 10:38] #3 closed, assigned to nobody

[2018-11-21 10:39] #2 closed, assigned to nobody

[2018-11-21 10:41] #1 closed, assigned to nobody

[2018-11-21 14:30] fabio-bs commented on #12
@innovativeangela, as regards the modification of the help text it is sufficient to modify the content of the "Submit new toolkit" page. While editing the titles of the fields or their descriptions is an operation that can only be performed by users with the role of administrator. Furthermore, these changes affect both the form in the frontend and the creation/modification form of a toolkit in the

[2018-11-23 11:25] innovativeangela commented on #12
@fabio-bs Can you please add help text below the Description field: "Please describe who this resource is for, what it includes, its purpose, and how it works. This helps others know whether it is right for them. These descriptions may be edited by OPSI before being published."

[2018-11-27 15:16] fabio-bs commented on #12
@innovativeangela I made the change

[2018-11-27 20:17] #12 closed, assigned to nobody

[2018-12-03 09:18] jlberryhill commented on #31
Hi @fabio-bs -- only Administrator.

[2018-12-03 09:19] jlberryhill commented on #31
@fabio-bs -- And to be clear, only users that are Administrator, Author, Contributor, Editor, Open Gov Administrators should have any access to wp-admin at all.

[2018-12-04 10:21] fabio-bs commented on #31
@jlberryhill I made the changes as requested

[2018-12-04 13:31] jlberryhill commented on #31
Thanks, @fabio-bs -- The admin bar is now gone for Administrators. Is it possible to add it back for just this permissions group?

[2018-12-04 15:03] fabio-bs commented on #31
@jlberryhill The problem was due to a conflict in a configuration of the "User Role Editor" plugin that appeared to users like yours with multiple assigned roles. It should now work properly

[2018-12-06 11:31] innovativeangela opened #32 "File Upload: AC4D files"
There are several AC4D files in the [compendium ](https://github.com/oecd-opsi/living-source-files)and we can only include one link. I tried zipping them but the file was bigger than 25MB. Second option is to combine into one GitHub folder and link there. @benguhin ideas?

[2018-12-12 16:13] jlberryhill commented on #31
@fabio-bs Hi Fabio - still seems to be some issues here. Only Administrators seem to be able to access the Dashboard (/wp-admin/ page).  The users below should be able to access the Dashboard by going to the wp-admin page. The admin ribbon at the top should only appear for Administrators.

Administrator
Author
Contributor
Editor
Open Gov Administrators

[2018-12-13 18:33] fabio-bs commented on #31
Hi @jlberryhill I did some tests with users belonging to the various roles on the site but I did not find any problems. Can you please tell me if there are specific users who are experiencing the problem?

[2019-02-25 13:36] #31 closed, assigned to nobody

[2019-07-26 13:46] innovativeangela opened #33 "Publisher field in Toolkit Submission Form"
The [Toolkit Submission form](https://oecd-opsi.org/submit-new-toolkit/) contains a field for Publisher. This pulls from the list of existing publishers, which makes it impossible for new publishers to be added. We would like for form submitters to be able to add new options. This may mean a new open text field, which we then enter into the existing field when we review the entire submission.

[2019-09-10 14:54] conlaccento commented on #33
Hello @innovativeangela, you can add new publishers on the fly clicking on the plus icon that appear on the right of the Publisher field.
Can you confirm that it works as you expected?